* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 2100px;
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hero-text p {
    text-transform: uppercase;
}

nav {
    position: absolute;
    top: 340px;
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    z-index: 1;
    background-color: #333;
}

.burger-icon {
    display: block;
    margin-right: auto;
    padding: 0 10px;
    line-height: 60px;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 2;
    color: #fff;
    transition: rotate .3s;
}

.burger-icon:hover{
    rotate: 90deg;
}

.nav-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #fff;
}

.nav-items a {
    display: block;
    width: 100%;
    padding: 15px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
}

.nav-items a:hover {
    background-color: rgb(214, 54, 94);
    color: #fff;
}

.header {
    position: relative;
    background-image: url('../img/laptop-small.jpg');
    top: 0;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.hero-text h1 {
    margin-bottom: 5px;
    text-shadow: 3px 3px 5px #000;
    text-transform: uppercase;
    color: #ddd;
}

.hero-text span {
    color: rgb(214, 54, 94);
}

main {
    background-color: #fff;
    height: 100%;
    padding: 10px;
}

.grid-container {
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-direction: column;
}

.filter-toggle {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: left;
    margin-top: 50px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.filter-section {
    display: none;
    flex-direction: column;
    padding: 10px;
    border: 2px solid rgb(153, 153, 153);
    background-color: #fff;
    border-radius: 10px;
    transition: max-height 0.3s ease-in-out;
}

.filter-section.active {
    display: flex;
}

.filter-section h3 {
    padding: 0 0 5px;
}

.filter-section button {
    padding: 5px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}

.filter-group {
    padding: 10px 0 0 0;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
}

.product-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    flex-direction: column;
}

#add-product-form {
    margin-top: 20px;
    max-width: 300px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#add-product-form input,
#add-product-form textarea,
#add-product-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-product-form textarea {
    height: 150px;
}

#add-product-form input[type="file"] {
    border: 1px solid #ccc;
    background: #fff;
}

#add-product-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-product-form button:hover {
    background-color: #218838;
}

.products-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.product p {
    font-size: 16px;
    margin: 5px 0;
    text-align: center;
    color: #555;
}

.product button {
    padding: 5px 10px;
    background-color: #28a745; /* Zielony */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.product button:hover {
    background-color: #218838; /* Ciemniejszy zielony przy najechaniu */
}

.product .delete-product {
    padding: 5px 10px;
    background-color: red; /* Czerwony */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.product .delete-product:hover {
    background-color: darkred; /* Ciemniejszy czerwony przy najechaniu */
}

/* Koszyk */
.cart-section {
    display: none; /* Domyślnie ukrywamy koszyk */
    flex-direction: column;
    padding: 10px;
    border: 2px solid rgb(153, 153, 153);
    background-color: #fff;
    border-radius: 10px;
    max-height: 30vh;
    overflow-y: auto;
}

.cart-section h3 {
    padding: 0 0 5px;
}

.cart-section button {
    padding: 5px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}

.cart-items {
    padding: 10px 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    max-width: 350px;
}

.cart-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.cart-item p {
    margin: 0;
    flex: 1;
}

.cart-item button {
    padding: 5px 10px;
    background-color: red; /* Czerwony */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-item button:hover {
    background-color: darkred; /* Ciemniejszy czerwony przy najechaniu */
}

.contact {
    bottom: 0;
    text-align: center;
    align-items: center;
}

.contact-section {
    text-transform: uppercase;
}

.contact-section ~ h3 {
    margin: 20px 0 5px;
    text-transform: uppercase;
}

.promotion-price {
    color: red;
    font-weight: bold;
}

footer {
    padding: 30px 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

@media (min-width: 768px) {
    .burger-icon {
        display: none;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: static;
        width: auto;
        background: none;
    }

    .nav-items a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        transition: color 0.3s;
        padding: 0 20px;
        color: #fff;
    }

    .nav-items a:hover {
        background: none;
        color: rgb(214, 54, 94);
    }

    .header {
        background-image: url('../img/laptop-big.jpg');
        height: 400px;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text p {
        font-size: 18px;
    }

    main {
        flex-direction: row;
    }

    .filter-toggle {
        display: none;
    }

    .filter-section {
        display: flex;
    }

    .grid-container {
        flex-direction: row;
    }

    .product-section {
        flex: 5;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .hero-text h1 {
        font-size: 42px;
    }

    .hero-text p {
        font-size: 20px;
    }
    .cart-section {
        float: right;
    }
}

@media (max-width: 900px) {
    .cart-section {
        width: 100%;
        margin-bottom: 20px;
    }

    .grid-container {
        flex-direction: column;
    }

    .product-section {
        order: 2;
    }

    .cart-section {
        order: 1;
    }
}