* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #333;
	height: 200vh;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.hero-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
.hero-text p {
	text-transform: uppercase;
}

/* nawigacja */
nav {
	position: sticky;
	top: 0;
	height: 60px;
	line-height: 60px;
	background-color: rgba(77, 77, 77, 0.8);
	text-align: center;
	z-index: 1;
}

.burger-icon {
	display: block;
	margin-right: auto;
	padding: 0 30px;
	line-height: 60px;
	font-size: 30px;
	border: none;
	background: none;
	cursor: pointer;
}

.nav-items {
	display: none;
}

/* header */
.header {
	position: relative;
	background-image: url('../img/laptop-small.jpg');
	height: 350px;
	background-size: cover;
	background-position: center;
}

.hero-text h1 {
	margin-bottom: 5px;
	text-shadow: 3px 3px 5px #000;
	text-transform: uppercase;
	color: #ddd;
}

.hero-text span {
	color: rgb(214, 54, 94);
}

.search-form {
    display: inline-block;
    position: relative;
}

.search-form input {
    padding: 5px;
    font-size: 16px;
}

.search-form button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}
	.nav-items {
		display: block;
	}
	.nav-items a {
		padding: 0 60px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		transition: color 0.3ms;
	}
	.nav-items a:hover {
		color: rgb(214, 54, 94);
	}

	.header {
		background-image: url('../img/laptop-big.jpg');
		height: 400px;
	}

	.hero-text h1 {
		font-size: 36px;
	}

	.hero-text p {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	.hero-text h1 {
		font-size: 42px;
	}

	.hero-text p {
		font-size: 20px;
	}
}
